<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="referrer" content="never" />
    <title>WR__ Vue.js Poster Shop</title>
    <link rel="icon" href="public/favicon.ico" type="image/x-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato|Montserrat" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="public/style.css">
</head>
<body>
<div id="app">
    <div class="header">
        <h3>WR__ Vue.js Poster Store</h3>
        <!--  Notes:
        1) In lieu of submit.prevent here, used event.preventDefault() over in onSubmit() method.
        (Well, now, we'll put it back on...)
        2) In lieu of v-model, used v-bind:value and v-on:input
       -->
        <form class="searchbar" v-on:submit.prevent="onSubmit">
            <input
                    type="text"
                    placeholder="Search a thing"
            v-bind:value="newSearch"
            v-on:input="newSearch = $event.target.value">
            <input type="submit" value="Search imgurs" class="btn">
        </form>
    </div>
    <div class="main">
        <div class="products">
            <div v-if="loading">
                <p>Loading loading loading oh yeah...</p>
            </div>
            <!-- No. Needed to nest the else and the subsequent if logic:
    <div v-else class="search-results" v-if="searchCount">-->
            <div v-else class="search-results">
                <div v-if="searchCount">
                    Found  {{ searchCount }} Search Results for {{ lastSearch }}.
                </div>
            </div>

            <div class="product" v-for="(myItem, myIndex) in items">
                <div>
                    <div class="product-image">
                        <a v-bind:href="myItem.link" target="_blank"><img v-bind:src="myItem.link" style="border: 0;" /></a>
                    </div>
                </div>
                <div>
                    <h4 class="product-title">{{ myItem.title }}</h4>
                    <p>Price: <strong>{{ price | currency }}</strong></p>
                    <button v-on:click="addItem(myIndex)" class="add-to-cart btn">Add to cart</button>
                </div>
            </div>
            <!-- Lesson 50 -->
            <div id="product-list-bottom"
            style="height: 50px; background-color: blue;"></div>
        </div>

        <div class="cart">
            <h2>Shopping Cart</h2>
            <div>
                <div>
                        <transition-group name="wrfade" tag="ul">
                            <li
                                    class="cart-item"
                                    v-for="cartItem in cartItems"
                            v-bind:key="cartItem.id">
                                <div class="item-title">{{ cartItem.title }}
                                </div>
                                <span class="item-qty">Price: {{ cartItem.price | currency }} x {{ cartItem.qty }}</span>
                                <button class="btn" v-on:click="inc(cartItem)">+</button>
                                <button class="btn" v-on:click="dec(cartItem)">-</button>
                            </li>
                        </transition-group>
                </div>
                <!-- No. <transition name="wrfade">-->
                <!--No. ? Ah - needed key etc. Now it DOES WORK <transition>-->
                    <transition name="fade" mode="out-in">
                    <!-- Hmm. Q. First time only? A. Ah - Need key.
                 Read on:
                 https://forum.vuejs.org/t/solved-vue-transitions-not-working/7614/2
                 https://vuejs.org/v2/guide/transitions.html#Transitioning-Between-Elements
                 -->
<!-- No. Only on first time.
After that, with static unchanging key, Vue does not run transition on this element - skips for efficiency (per doc page above)
                     <div v-if="cartItems.length" key="wrfull">
-->
                <!-- If 0 length, empty cart, do not show div -->
                     <!-- YES v-bind to the key to get a new value with each add to the cart. Good! -->
                    <div v-if="cartItems.length" v-bind:key="cartItems.length">
                        Total: {{ total | currency }}
                    </div>
                     <div v-if="cartItems.length === 0" class="empty-cart" key="wrempty">
                         No items in cart.
                     </div>
                </transition>
<!-- Owing to (above) <transition> around the v-if, suppressing use of this former sibling v-else.
                <div v-else class="empty-cart">
                    No items in cart.
                </div>
-->
<!--
                <div v-if="cartItems.length === 0" class="empty-cart">
                    No items in cart.
                </div>
-->
            </div>
        </div>
    </div>
</div>

<!-- Scripts -->
<script src="/reload/reload.js"></script>
<script src="node_modules/vue/dist/vue.js"></script>
<script src="node_modules/vue-resource/dist/vue-resource.js"></script>
<script src="node_modules/scrollmonitor/scrollMonitor.js"></script>
<script type="text/javascript" src="public/script.js"></script>

</body>
</html>
